body {
    background-image: url(../images/arch2.jpg);

}

.HYPE {
    background:linear-gradient(red, grey);/*rgb(226, 10, 10);*/
    color: white;
    border: 3px black solid;
    text-align: center;
    font-family: "Futura";
    margin-bottom: 10px;
    margin-top: 10px;
    
}

.TimeRem {
    text-align: center;
    margin: 5px 0 20px 0;
}

.questionA{
    text-align: center;
    margin: 5px 0 20px 0;
}

.B1 {
    text-align: center;
    margin: 5px;
}

.card {
    background:lightgrey;
    border: black 3px solid;
}

.answer-button{
    color: red;
}

